// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// For example:

$gray: #1e1e1e;

// inner containers

$light-gray: white;
// background

$dark-gray: #46494C;
// banner

$grey-blue: #4C5C68;
// Others

$emerald: #1985A1;
// Button, call to actions

$black: black;
$white: white;
$accent: rgb(62, 23, 220);
$accent-hover:rgba(62, 23, 220, 0.536);
$main: #CAD2D3;
$main-hover: #cad2d3b7;
$shadow: rgba(0, 0, 0, 0.2)
