// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Funnel Sans", "Work Sans", "Helvetica", "sans-serif";
$headers-font: "DM Serif Display", "Nunito", "Helvetica", "sans-serif";
$hero-font: "DM Serif Display";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.funnel-sans {
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
