// Import page-specific CSS files here.
@import "home";
.map-stone {
  width: 40%;
}

.cards-stone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 60%;
}

.card-link {
  text-decoration: none; /* Retire le soulignement des liens */
  color: inherit; /* Garde la couleur du texte */
}

.card-link:hover {
  text-decoration: none; /* Toujours sans soulignement au survol */
  transform: scale(1.02); /* Zoom léger sur la carte */
  transition: transform 0.2s ease-in-out;
}

.card-stone {
  /* Toutes les cartes ont la même hauteur */
  height: 45vh;
}

.card-img-top {
  height: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-body {
  height: 50%;
  position: relative; /* Nécessaire pour positionner le prix */
}

.price {
  bottom: 0;
  right: 0;
  margin: 0; /* S'assure que le prix reste en bas */
}
