<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<div class="home-banner">
  <div class="text-container">
    <div class="top-line">
      <h1 class="static-top">Trouvez un</h1>
      <div class="dynamic-text-wrapper">
        <span id="dynamic-text" class="dynamic-text">caillou rigolo</span>
      </div>
    </div>
    <h2 class="static-bottom">près de chez vous</h2>
  </div>
  <div class="button-container">
    <% unless user_signed_in? %>
  <a href="/users/sign_up" class="action-button">S'inscrire</a>
    <% end %>
    <a href="/stones" class="action-button">Voir la collection</a>
  </div>
</div>
<div class="home-container">

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const options = <%= @dynamic_options.to_json.html_safe %>;
    const dynamicText = document.getElementById('dynamic-text');
    let index = 0;

    function updateText() {
      dynamicText.classList.remove('rotate-in', 'rotate-out'); // Reset animations
      dynamicText.classList.add('rotate-out'); // Add rotate-out animation
      setTimeout(() => {
        index = (index + 1) % options.length; // Update to the next option
        dynamicText.textContent = options[index]; // Set new text
        dynamicText.classList.remove('rotate-out'); // Reset rotate-out
        dynamicText.classList.add('rotate-in'); // Add rotate-in animation
      }, 500); // Match animation duration
    }

    setInterval(updateText, 3000); // Change text every 3 seconds
  });
</script>
