.map-stone {
  width: 40%;
  position: sticky;
  height:100vh;
  top: 0;
}

.map-stone-show {
  width: 100%;
  position: sticky;
  height:300px;
  top: 0;
}

.cal-stone-show {
  width: 100%;
  position: sticky;
  height:300px;
  top: 0;
}

#datepicker-container {
  width: 100%;
  max-width: 400px; /* Ajustez cette valeur selon vos besoins */
  height: auto;
  margin-top: 10px;
}

#datepicker-container:not(.d-none) {
  max-height: 200px; /* ou ajustez selon la taille du contenu */
}