.map-stone {
  width: 40%;
  position: sticky;
  height:100vh;
  top: 0;
}

.map-stone-show {
  width: 100%;
  position: sticky;
  height:300px;
  top: 0;
}

.cal-stone-show {
  width: 100%;
  position: sticky;
  height:300px;
  top: 0;
}