.map-stone {
  width: 40%;
  position: sticky;
  height:100vh;
  top: 0;
}

.map-stone-show {
  width: 100%;
  height:300px;
}

.cal-stone-show {
  width: 100%;
}

/* Conteneur du calendrier masqué par défaut */
.datepicker-container.hidden {
  display: none;
}

/* Classe pour afficher le calendrier (gérée par Stimulus) */
.datepicker-container {
  display: block;
  background: $accent;
  padding: 12px;
  border-radius: 12px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Champ de date masqué */
.hidden {
  display: none;
}
