.nav-link {
  color: white;
}

.navbar-lewagon {
  font-family: $hero-font;
  color: $white;
  justify-content: space-between;
  background: $black;
  border-bottom: $white, 2px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 150px;
  height: auto;
}

// .navbar-lewagon .navbar-brand h1 {
//   font-family: 'Chakra Petch', sans-serif;
//   color: white;
//   margin: 0;
// }

.profile-picture {
  border-radius: 50%;
}

.navbar {
  h1 {
    font-family: $hero-font;
    color: $white;
  }
  justify-content: space-between;
  background: $black;
  border-bottom: 2px solid $white;
  position: fixed;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
  position: relative;
}

.navbar.navbar-visible {
  top: 0;
}

.navbar:not(.navbar-visible) {
  top: -100px;
}

.dropdown-item-custom { 
  font-family: $body-font;
  color: black;
  font-size: 12px;
}